// -- Primary Colors --
// black
@black: #030303; //pf-black
@very-light-gray: #fafafa; //pf-black-100
@light-gray: #ededed; //pf-black-200
@gray: #4D5258; //pf-black-700
@dark-gray: #393F44; //pf-black-800
@very-dark-gray: #292e34; //pf-black-900

// blue
@light-blue: #39A5DC; //pf-blue-300
@blue: #0088ce; //pf-blue-400
@dark-blue: #002235; //pf-blue-700
@cyan: #007a87; //pf-cyan-400

// - Secondary Colors
// white
@white: #ffffff; //pf-white

// green
@light-green: #92d400; //pf-light-green-400
@green: #3F9C35; //pf-green-400
@dark-green: #0f280d; //pf-green-700

// orange
@orange: #ec7a08; //pf-orange-400
@light-orange: #f7bd7f; //pf-orange-200

// red
@red: #cc0000; //pf-red-300

// purple
@purple: #703fec; //pf-purple-400

// gold
@gold: #f0ab00; //pf-gold-400
